<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>Sorry!</h1>
    <br>
    <p>404: Cake not found.</p>
    <br>
    <p align="center">
        <img title="404 Cake not found" alt="The cake is a lie" src="https://i1.sndcdn.com/artworks-000018166771-ur1ffl-t500x500.jpg">
      </p>
    
</body>

</html>