<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aperture Science Task Management</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>Aperture Science</h1>
    <br>
    <p align="center">
        <img title="Aperture Science Logo" alt="Aperture Science Logo" src="https://combineoverwiki.net/images/thumb/f/f0/Aperture_Science_grey.svg/250px-Aperture_Science_grey.svg.png">
      </p>
      <br>
    <h2>Task Management</h2>
</body>

</html>