<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aperture Science Task Management</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>Aperture Science</h1>
    <br>
    <p align="center">
        <a href="https://valvearchive.com/web_archive/aperturescience.com/2007-10-17.html">
            <img title="For help: Click and type help! Management promises you won't be fired." alt="Aperture Science Logo" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/aperture-science-nicole-nelson.jpg">
        </a>
      </p>
      <br>
    <h2>Task Management Program</h2>
</body>

</html>