@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5rem;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 768px;
    max-height: 1024px;
    background-color: #000;
    background-repeat: no-repeat;
    color: whitesmoke;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 1rem;
}

img {
    filter: grayscale();
    width: 40%;
    transition: width 2s, height 2s, transform 2s;
}

img:hover {
    filter: none;
    width: 35%;
    transform: rotate(30deg);
}